<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<title>Current Leads</title>
	<script>
	function checkAuthorization(action) {
		let button = document.getElementById(action);
		if (button.attributes.allowed.value === 'true') {
		  if (action === 'delete') {
			if (confirm("Are you sure?")) {
			  return true;
			} else {
			  return false;
			}
		  }
		  if (action === 'update') {
			console.log("came into update");
			return true;
		  }
		} else {
		  if (action === 'delete') {
			alert("You need ADMIN level access to delete");
		  }
		  if (action === 'update') {
			alert("You need MANAGER/ADMIN level access to update");
		  }
		  return false;
		}
	}
	</script>
</head>

<body>

<div class="container">
    <div class="jumbotron bg-success">
	  <h2 class="text-light text-center">My CRM - The Simplest Customer Relationship Manager</h2>
	</div>
	<p style="float:right">Authority Level: <b style="text-transform: uppercase;"><span sec:authentication="principal.username"></span></b></p>
	<h3>Current Leads</h3>
	<hr>
	<div class="mb-3">
	<span><a th:href="@{/lead/addLead}" class="btn btn-primary btn-sm">Add Lead</a></span>
	<span style="float:right">
	  <form action="#" th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" class="btn btn-warning btn-sm"/>
	  </form>
	</span>
	</div>
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="lead : ${leads}">
			
				<td th:text="${lead.firstName}" />	
				<td th:text="${lead.lastName}" />	
				<td th:text="${lead.email}" />	
				<td>
					<a th:href="@{/lead/update(id=${lead.id})}" th:attr="allowed=${#authorization.expression('hasRole(''ROLE_ADMIN'') || hasRole(''ROLE_MANAGER'')')}" class="btn btn-info btn-sm"
					   id="update" onclick="return checkAuthorization('update')">Update</a>
					&nbsp;&nbsp;&nbsp;
					<a th:href="@{/lead/delete(id=${lead.id})}" th:attr="allowed=${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-danger btn-sm"
					   id="delete" onclick="return checkAuthorization('delete')">Delete</a>
				</td>
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



